#page{
    background-color: black;
}


#header{
    text-align: center;
    color:whitesmoke;
    background-color: gray;
    padding: 10px;
    font-family: cursive;
    font-size: 30px;
    margin:25px;
    border-style: outset;
    border-width: 5px;
    border-color: whitesmoke;
    border-radius: 25px;;

}

p{
    color: white;
    margin: 25px;
    text-align: center;
}

label{
    color:white;
}


select{
    color: navy;
}

#submit{
    margin-left:45%;
    color:black;
    background-color: white;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    border-style: outset;
    border-radius: 25px;
    border-color: white;
}



#submit:hover{
    margin-left:45%;
    color:black;
    background-color: green;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    border-style: outset;
    border-radius: 25px;
    border-color: white;
}

.plain{
    float:right;
    width:70%;

}

.option{
    float:left;
    width:25%;
    margin:20px;
}