h1{
    color:darkblue;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}

.main{
    background-color:rgb(28, 85, 161)
}

img{
    width: 100px;
    height: 140px;
    position: relative;
    margin-top:10px;
    margin-left: 40%;
    margin-bottom:10px;
    animation-name: revolve;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes revolve{
    0% {transform: rotate(0deg)};
    100% {transform:rotate(360deg)};
}
